In [1]:
arreglo=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
arreglo[2:5]  #cerrada a la izquierda y a la derecha abierto Filtrar ([2, 5[)
arreglo[2:]  #cuando no se pone el indice quiere decir todos
arreglo[:7]
arreglo[-1]  #el ultimo indice
arreglo[2:-1]  #cerrado el de la izquierda y abierto a la derecha Filtrar ([2, 5[)
arreglo[-8:-1]
arreglo[-9:]
arreglo[:-2]
arreglo[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
arreglo[2:-1]

[13, 14, 15, 16, 17, 18, 19]

In [10]:
arreglo[-8:-1]

[13, 14, 15, 16, 17, 18, 19]

In [4]:
arreglo=[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
arreglo[2:5]

[13, 14, 15]

In [6]:
arreglo[3:]

[14, 15, 16, 17, 18, 19, 20]

In [7]:
arreglo[:7]

[11, 12, 13, 14, 15, 16, 17]

In [8]:
arreglo[-1]

20

In [11]:
arreglo[-9]

12

In [12]:
arreglo[:-2]

[11, 12, 13, 14, 15, 16, 17, 18]

In [13]:
arreglo[:]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
15 in arreglo

True

In [15]:
len(arreglo)

10

In [16]:
arreglo.append(21)

In [17]:
arreglo

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [18]:
arreglo.pop()

21

In [19]:
arreglo

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [20]:
arreglo.insert(2,13.5)

In [21]:
arreglo

[11, 12, 13.5, 13, 14, 15, 16, 17, 18, 19, 20]

In [25]:
arreglo.remove(13.5)

In [27]:
arreglo

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [28]:
arreglo.insert(3,13.5)

In [29]:
arreglo

[11, 12, 13, 13.5, 14, 15, 16, 17, 18, 19, 20]

In [30]:
for numero in arreglo:
    print(numero)

11
12
13
13.5
14
15
16
17
18
19
20

In [32]:
contador=0
while(contador <= 10):
    print(arreglo[contador])
    contador +=1

11
12
13
13.5
14
15
16
17
18
19
20

In [ ]:
tupla_numeros=(1,2,3,4,5)
tupla_numeros[0:3]

In [33]:
tupla=(11,12,13,14,15,16,17)

In [34]:
tupla

(11, 12, 13, 14, 15, 16, 17)

In [35]:
tupla[0:3]

(11, 12, 13)

In [36]:
len(tupla)

7

In [37]:
14 in tupla

True

In [38]:
laura={"nombre":"Laura", "edad":27, "casada":True}

In [39]:
laura

{'nombre': 'Laura', 'edad': 27, 'casada': True}

In [40]:
laura["edad"]

27

In [41]:
laura.keys()

dict_keys(['nombre', 'edad', 'casada'])

In [42]:
laura.values()

dict_values(['Laura', 27, True])

In [45]:
"edad" in laura.keys()

True

In [46]:
True in laura.values()

True

In [ ]:
try:
except Exception as error:
    print("error")

In [51]:
try:
    5/0
except Exception as error:
    print("error: ", error)

error:  division by zero

In [52]:
def hola():
    print("Laura")

hola()

Laura

In [53]:
def sumar(a,b):
    return a+b

sumar(2,4)

6

In [57]:
def imprimir_u(nombre="EPN"):
    print(f"{nombre}")

imprimir_u()

imprimir_u("ESPE")

EPN
ESPE

In [59]:
def carro(color, placa, hp, anio):
    print(f"color: {color}")
    print(f"placa: {placa}")
    print(f"hp: {hp}")
    print(f"año: {anio}")
    

carro(anio=2005, color="Azul", placa="der-342", hp=3500)

carro("cafe", anio=2005, placa="der342", hp=3500)

color: Azul
placa: der-342
hp: 3500
año: 2005
color: cafe
placa: der342
hp: 3500
año: 2005

In [62]:
def sumar2(a, *b):
    longitud = len(b)
    if(longitud == 0):
        return a
    else:
        suma =0 + a
        for numero in b:
            suma=suma+numero
            
        return suma
    
    
    
sumar2(2)

2

In [64]:
sumar2(2,3,4,5)

14

In [65]:
def configuracion(nombre, valor=10, * valor_carga, **key_word_arguments):
    print(key_word_arguments)

In [66]:
configuracion("conf1",20,30,40,50)

{}

In [67]:
configuracion(nombre="conf1", valor=20, tiempo_espera=30, numero_parametros=5)

{'tiempo_espera': 30, 'numero_parametros': 5}